.banner {
	--bg: var(--clr-bg-contrast);
	--fg: var(--clr-fg-secondary);

	padding: var(--bnr-padding, 2rem);

	color: var(--fg);
	background-color: var(--bg);
	border-left: 3px solid var(--fg);
	border-radius: var(--corner-small);

	animation: add .4s ease;
}

.banner[data-type="error"] {
	--bg: var(--clr-err-900);
	--fg: var(--clr-err-500);
}

@keyframes add {
	0% {
		opacity: 0;
		transform: translateY(-10px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
